<div class="container">

    <!-- social -->
    <div class="social">
        <div class="text">GAMESHOCK.IT</div>
        <div class="images">
            <img src="../../../assets/img/icons8-facebook-nuovo-96 (1).png" alt="">
            <img src="../../../assets/img/icons8-instagram-96 (2).png" alt="">
            <img src="../../../assets/img/icons8-twitter-96 (1).png" alt="">
            <img src="../../../assets/img/icons8-twitch-96 (1).png" alt="">
        </div>
    </div>

    <!-- contacts and info -->
    <div class="contacts">
        <div class="foot">
            Questo è un esercizio didattico sull'utilizzo di Angular. Gli articoli e le immagini sono state prese dal sito Multiplayer.it. La parte di graphic design è stata creata da Claudia Lella.
        </div>
        <div class="info">
            <a href="#">Informativa sui cookie</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Termini e condizioni</a>
            <a href="#">Contatti</a>
            <a href="#">Lavora con noi</a>
            <a href="#">Aggiorna le impostazioni di tracciamento della pubblicità</a>
        </div>
    </div>
</div>
