<ul class="menu-right">
    <li>
        <img class="article-image" src="../../../assets/img/art1.jpg" alt="Nintendo film">
        <a href="#">Nintendo avrebbe non uno, ma quattro film in lavorazione</a>
    </li>
    <li>
        <img class="article-image" src="../../../assets/img/art2.jpg" alt="Red Dead Redemption">
        <a href="#">Red Dead Redemption, la remaster vive su PC a 4K e 60 fps grazie a un emulatore</a>
    </li>
    <li>
        <img class="article-image" src="../../../assets/img/art3.jpg" alt="Fall Guys">
        <a href="#">Fall Guys x Death Stranding: arriva il costume di Sam Porter Bridges</a>
    </li>
</ul>

